# Pytest cache and temporary files
__pycache__/
*.pytest_cache/
*.pyc
*.deb
*.zip
*.css
*.html
*.png
*.env
results/
report/
scan_*
load_tests/*.log
load_tests/logs
logs/
logs_*
*.out
test_logs.log
venv/

# Common IDE temporary files
*.pyi

# Virtual environment
.venv/

# IntelliJ/PyCharm IDE project files
.idea/
